In [26]:
# imports
import json, os
os.makedirs('Data/',exist_ok=True)
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
from sqlalchemy import create_engine

In [2]:
# confirm folder was created and files added successfully
os.listdir("Data/")

['IMDB Movie Dataset Info.docx',
 'title-akas-us-only.csv',
 'title.basics.tsv.gz',
 'title.ratings.tsv.gz']

PREPROCESSING

1) Start by loading the title-akas-us-only.csv file. All non-us movies have been removed from this file.

In [8]:
# Load the title-akas-us-only.csv file
akas = pd.read_csv("Data/title-akas-us-only.csv", low_memory=False)
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,\N,imdbDisplay,\N,0
1,tt0000002,7,The Clown and His Dogs,US,\N,\N,literal English title,0
2,tt0000005,10,Blacksmith Scene,US,\N,imdbDisplay,\N,0
3,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
4,tt0000005,6,Blacksmith Scene #1,US,\N,alternative,\N,0
...,...,...,...,...,...,...,...,...
1452559,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,\N,imdbDisplay,\N,0
1452560,tt9916620,1,The Copeland Case,US,\N,imdbDisplay,\N,0
1452561,tt9916702,1,Loving London: The Playground,US,\N,\N,\N,0
1452562,tt9916756,1,Pretty Pretty Black Girl,US,\N,imdbDisplay,\N,0
1452563,tt9916764,1,38,US,\N,imdbDisplay,\N,0

2) Load the title basics file.

In [9]:
# Load the title.basics.tsv.gz file
basics = pd.read_csv("Data/title.basics.tsv.gz", sep='\t', low_memory=False)
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10017006,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10017007,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10017008,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10017009,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10017010,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

3) Remove non-US movies from title basics

In [10]:
# Filter the basics table down to only include the US by using the filter akas dataframe
filter_us_titles = basics['tconst'].isin(akas['titleId'])
basics_us = basics[filter_us_titles]
basics_us

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

4) Perform the remaining preprocessing steps for title basics.

In [11]:
# Replace '\N' with np.nan
basics_us = basics_us.replace({'\\N':np.nan})

In [12]:
# Drop rows with null values in the runtimeMinutes or genres columns.
basics_us.dropna(subset=['runtimeMinutes', 'genres'], inplace=False)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,NaN,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,NaN,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016704,tt9916214,short,Drown the Clown,Drown the Clown,0,2019,NaN,8,"Drama,Short"
10016724,tt9916254,video,Big Tit Cream Pie 32,Big Tit Cream Pie 32,1,2015,NaN,226,Adult
10016770,tt9916348,video,Ancient World Exposed,Ancient World Exposed,0,2019,NaN,67,History
10016777,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,NaN,58,Family

In [13]:
# Filter to keep only full-length movies
basics_us = basics_us[basics_us['titleType'] == 'movie']

In [14]:
# Convert startYear to a float dtype
basics_us['startYear'] = basics_us['startYear'].astype(float)

In [15]:
# Filter to keep movies with startYears that are >=2000 and <=2022
basics_us = basics_us[(basics_us['startYear'] >= 2000) & (basics_us['startYear'] <= 2022)]

In [24]:
# Eliminate movies that include "Documentary" in genre
filter_documentaries = basics_us['genres'].str.contains('Documentary', na=False)
basics_filtered = basics_us[~filter_documentaries]

5) Display a final preview of your filtered title basics and save to a csv

In [25]:
# Display info and head of the filtered title basics DataFrame
basics_filtered.info()
basics_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Index: 104636 entries, 34802 to 10016809
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          104636 non-null  object
 1   titleType       104636 non-null  object
 2   primaryTitle    104634 non-null  object
 3   originalTitle   104634 non-null  object
 4   isAdult         104636 non-null  object
 5   startYear       104636 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  88546 non-null   object
 8   genres          101501 non-null  object
dtypes: float64(1), object(8)
memory usage: 8.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [26]:
# Save the data to a CSV file in the Data folder
basics_filtered.to_csv('Data/title_basics_filtered.csv', index=False)

6) Load and filter the title ratings file

In [27]:
# Load the title ratings data
ratings = pd.read_csv("Data/title.ratings.tsv.gz", sep='\t', low_memory=False)

In [28]:
# Keep only movies that are included in your final title basics dataframe
filter_basics = ratings['tconst'].isin(basics_filtered['tconst'])
ratings_filtered = ratings[filter_basics]

In [29]:
# check for '\N' value in averageRating column
ratings_filtered['averageRating'].unique()

array([ 6.4,  6.7,  5.2,  5.6,  6.5,  6.3,  7.7,  4.7,  3.4,  4.1,  6.2,
        7.4,  5.3,  2.4,  4.9,  8.1,  7.1,  6.9,  4.4,  5.4,  5. ,  4.2,
        6. ,  7.3,  5.9,  7.5,  6.6,  7. ,  5.7,  8.8,  6.1,  4.8,  7.6,
        4. ,  3.8,  5.1,  7.9,  2.8,  3.9,  3.3,  4.3,  4.6,  4.5,  7.8,
        7.2,  3.2,  8.6,  6.8,  5.8,  3.5,  3.7,  3.6,  5.5,  3.1,  8.3,
        9. ,  2.5,  8.9,  8.5,  8. ,  2.6,  2.7,  2.2,  1.9,  8.2,  2.1,
        2.9,  8.4,  3. ,  9.7,  8.7,  2. ,  2.3,  1.3,  9.2,  1.5,  1.6,
        1.7,  1.1,  1.8,  1.4,  9.3,  9.1,  1.2,  9.5,  9.4,  9.6,  9.8,
        1. , 10. ,  9.9])

In [30]:
# check for '\N' value in numVotes column
ratings_filtered['numVotes'].unique()

array([87153,   175,  7754, ..., 14210, 13666,  5422], dtype=int64)

7) Display a final preview of your filtered title ratings and save to a csv

In [31]:
# Display info and head of the filtered title basics DataFrame
ratings_filtered.info()
ratings_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Index: 77422 entries, 17961 to 1331467
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         77422 non-null  object
 1   averageRating  77422 non-null  float64
 2   numVotes       77422 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.4+ MB

          tconst  averageRating  numVotes
17961  tt0035423            6.4     87153
40764  tt0062336            6.4       175
46645  tt0069049            6.7      7754
63640  tt0088751            5.2       336
69953  tt0096056            5.6       846

In [32]:
# Save the data to a CSV file in the Data folder
ratings_filtered.to_csv('Data/title_ratings_filtered.csv', index=False)

## Part 2

### Load the Filtered Data

In [3]:
# Load the title basics data
title_basics_data = pd.read_csv('Data/title_basics_filtered.csv')

In [4]:
# Load the ratings data
ratings_data = pd.read_csv('Data/title_ratings_filtered.csv')

In [5]:
# View the datatypes of title basics data
print(title_basics_data.dtypes)

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear         float64
endYear           float64
runtimeMinutes    float64
genres             object
dtype: object

In [22]:
# View the datatypes of ratings data
print(ratings_data.dtypes)

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [23]:
# Calculate the max length for string/object columns of title basics data
print('tconst length:', title_basics_data['tconst'].str.len().max(), '\n')
print('primaryTitle length:', title_basics_data['primaryTitle'].str.len().max())

tconst length: 10

primaryTitle length: 242.0

In [24]:
# Calculate the max length for string/object columns of ratings data
print('tconst length:', ratings_data['tconst'].str.len().max())

tconst length: 10

### Connect to the Database

In [27]:
# Create the sqlalchemy engine and connection
with open(r"C:\Users\bandi\OneDrive\Documents\GitHub\IMDB-Movies-Analysis\.secret\mysql.json") as f:
    creds = json.load(f)
print(creds.keys())

dict_keys(['username', 'password'])

In [28]:
# Creating the connection url with values stored in json file
connection_str  = f"mysql+pymysql://{creds['username']}:{quote_plus(creds['password'])}@localhost/movies"
engine = create_engine(connection_str)
conn = engine.connect()

In [29]:
# Show the list of tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres

In [30]:
# Describe the Title Basics Table
q = '''DESCRIBE title_basics;'''
describe_tb = pd.read_sql(q, conn)
describe_tb

           Field          Type Null  Key Default Extra
0         tconst   varchar(15)   NO  PRI    None
1  primary_title  varchar(250)  YES         None
2     start_year         float  YES         None
3        runtime         float  YES         None

In [32]:
# Preview the title basics data
title_basics_data.info()
title_basics_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104636 entries, 0 to 104635
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          104636 non-null  object
 1   titleType       104636 non-null  object
 2   primaryTitle    104634 non-null  object
 3   originalTitle   104634 non-null  object
 4   isAdult         104636 non-null  int64
 5   startYear       104636 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  88546 non-null   float64
 8   genres          101501 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 7.2+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100.0,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126.0,Drama

In [31]:
# Describe the Ratings Table
q = '''DESCRIBE ratings;'''
describe_ratings = pd.read_sql(q, conn)
describe_ratings

             Field         Type Null  Key Default Extra
0           tconst  varchar(15)   NO  PRI    None
1   average_rating        float  YES         None
2  number_of_votes          int  YES         None
3   title_basic_id          int   NO         None

In [33]:
# Preview the ratings data
ratings_data.info()
ratings_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77422 entries, 0 to 77421
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         77422 non-null  object
 1   averageRating  77422 non-null  float64
 2   numVotes       77422 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.8+ MB

      tconst  averageRating  numVotes
0  tt0035423            6.4     87153
1  tt0062336            6.4       175
2  tt0069049            6.7      7754
3  tt0088751            5.2       336
4  tt0096056            5.6       846

### Prepare the title_basics and ratings DataFrames for the Database

### Upload Data to the Database